# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv-project/
venv/
.venv/

# Environment variables
.env

# Jupyter
*.ipynb_checkpoints/

# Databases
instance/*.db
*.sqlite3
*.db

# Logs
*.log

# ML artifacts
*.joblib
*.h5
*.model

# OS junk
.DS_Store
Thumbs.db
